<div>
  <app-navbar background="contact"></app-navbar>
  <div class="container-lg">
    <app-breadcrumb page="contacto"></app-breadcrumb>
    <form action="">
      <input type="text" class="form-control mt-2" placeholder="Nombre" name="name" required>
      <input type="tel" class="form-control mt-2" placeholder="Telefono" name="phone" required>
      <input type="email" class="form-control mt-2" placeholder="Correo" name="email" required>
      <textarea name="messange" id="" cols="30" rows="10" class="form-control mt-2" placeholder="Mensaje" required></textarea>
      <div class="row mt-2">
        <div class="col-12">
          <button type="submit" class="btn btn-secondary float-end">Enviar</button>
        </div>
      </div>
    </form>
    <h4 class="text-capitalize text-center">villas de las lomas 57 col. villa de las lomas</h4>
    <h4 class="text-capitalize text-center">huixquilucan, edo. de méxico c.p. 52787</h4>
    <h4 class="text-capitalize text-center">tel. y fax. 5290 6387 y 5290 6388</h4>
    <h4 class="text-capitalize text-center">cel. 044 55 54557644</h4>
    <h4 class="text-center">javier@ruanova.com.mx</h4>
  </div>
</div>
