<div class="menu" [ngClass]="{
  'bg-bio': background == 'bio',
  'bg-services': background == 'services',
  'bg-construction': background == 'construction',
  'bg-contact': background == 'contact'
}">
    <div class="">
        <div class="col-3 col-lg-12 ">
            <div class="logo">
                <a [routerLink]="['/']">
                    <img src="assets/images/logo.png" alt="Logo">
                </a>
            </div>
        </div>
        <div class="col-2 offset-7 col-lg-12 offset-lg-0">
            <nav>
                <div class="hamburger-menu" (click)="openMenu()">
                    <div class="bar" [ngClass]="{'animate': open}"></div>
                </div>
                <ul [class]="{'show': open, 'hide': !open }">
                    <li><a (click)="openMenu()" [routerLink]="['/biografia']" [routerLinkActive]="['active']">Bio</a></li>
                    <li><a (click)="openMenu()" [routerLink]="['/servicios']" [routerLinkActive]="['active']">servicios</a></li>
                    <li><a (click)="openMenu()" href="/obra">obra</a></li>
                    <li><a (click)="openMenu()" [routerLink]="['/contacto']" [routerLinkActive]="['active']">contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
