<div>
  <app-navbar background="construction"></app-navbar>
  <div class="container-lg">
    <app-breadcrumb page="obra"></app-breadcrumb>
    <div class="fotorama"
         data-nav="thumbs"
         data-width="100%"
         data-autoplay="true"
         data-loop="true"
         data-keyboard="true"
         data-allowfullscreen="true">
      <img src="assets/images/galleries/construction/1.jpg">
      <img src="assets/images/galleries/construction/2.jpg">
      <img src="assets/images/galleries/construction/3.jpg">
      <img src="assets/images/galleries/construction/4.jpg">
      <img src="assets/images/galleries/construction/5.jpg">
      <img src="assets/images/galleries/construction/6.jpg">
      <img src="assets/images/galleries/construction/7.jpg">
      <img src="assets/images/galleries/construction/8.jpg">
    </div>
  </div>
  <app-footer></app-footer>
</div>
