<div class="row">
  <div class="col-12 text-white">.</div>
</div>
<div class="row">
  <div class="col-12">
    <p>
      <a routerLink="/">Inicio</a> /
      <span class="text-dark text-capitalize">{{ page }}</span>
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <h1 class="text-capitalize text-end">{{ page }}</h1>
  </div>
</div>
