@import "src/assets/sass/variables"
*
  font-family: "Times New Roman"

.absolute
  position: absolute
  top: 0


@media (min-width: $lg)
  .bg-bio
    background-image: url("~/src/assets/images/banners/bio.jpg") !important
    background-size: 100% 100%

  .bg-services
    background-image: url("~/src/assets/images/banners/services.jpg") !important
    background-size: 100% 100%

  .bg-construction
    background-image: url("~/src/assets/images/banners/construction.jpg") !important
    background-size: 100% 100%

  .bg-contact
    background-image: url("~/src/assets/images/banners/contact.jpg") !important
    background-size: 100% 100%



